version: "3.8"

services:
  statsd-exporter:
    image: prom/statsd-exporter:latest
    container_name: statsd-exporter
    command:
      - "--statsd.listen-udp=:8125"
      - "--web.listen-address=:9102"
      - "--statsd.mapping-config=/etc/statsd/mapping.yml"
    ports:
      - "8125:8125/udp"
      - "9102:9102"
    volumes:
      - ./statsd_exporter/mapping.yml:/etc/statsd/mapping.yml:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules.yml:/etc/prometheus/rules.yml:ro
    depends_on:
      - statsd-exporter

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus
